.heading{
    margin: 0px;
    width: 100%;
    font-size: 20px;
    font-family: 'Yomogi', cursive;
  
}
body{
    background-size: cover;
}
canvas{
    border: 5px solid lightblue;
    box-shadow: 5px 5px 5px white;
}
.footer{
    width: 100%;
    bottom: 0;
    background-color: lightgreen;
    position: fixed;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    line-height: 23px;
    font-size: 18px;
}
#name{
    background-color: lightgray;
    width: 300px;
}
